{
  "parser"  : "babel-eslint",
  "env": {
    "jest": true,
    "jasmine": true,
    "es6": true,
    "browser": true,
    "amd": true
  },
  "plugins": [
    "import"
  ],
  "extends" : ["airbnb"],
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "rules": {
    // Soften some rules.
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "no-unused-vars": [2, { "args": "none" }],
    "quote-props": 0,
    "comma-dangle": 0, // Nobody cares about commas.
    "default-case": 0, // Required default case is nonsense.
    "new-cap": [2, {"capIsNew": false, "newIsCap": true}], // For Record() etc.
    "no-floating-decimal": 0, // .5 is just fine.
    "no-param-reassign": 0, // We love param reassignment.
    "no-class-assign": 0, // We also love to reassign class names.
    "no-console": 0,
    "no-shadow": 0, // Shadowing is a nice language feature.
    // eslint-plugin-import
    "import/no-unresolved": [2, {"commonjs": true}],
    "import/named": 2,
    "import/default": 2,
    "import/namespace": 2,
    "import/export": 2,
    // TODO: This line is breaking the eslint.
    // "max-len": [1, 100, 2, {"ignoreStrings": true, "ignoreUrls":true, "ignoreTrailingComments":true, "ignoreComments": true, "ignoreTemplateLiterals": true, "ignorePattern": "^[a-zA-Z ]{0,80}$"}],
    "max-len": [1, 100, 2],
    "global-require": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  },
  "globals": {
    "window": true
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.json$",
      "\\.(scss|less|css)$"
    ],
    "import/parser": "babel-eslint",
    "import/resolve": {
      "extensions": [
        ".js",
        ".jsx",
        ".json"
      ]
    }
  }
}
