// Mobile
.Panel {
  :global {
    // Workout item expand/collapse: <article>
    .AccordionArticle-enter {
      max-height: 0;
      transition: max-height 0.8s;
    }
    .AccordionArticle-enter.AccordionArticle-enter-active {
      max-height: 500px;
    }
    .AccordionArticle-leave {
      max-height: 500px;
      transition: max-height 0.5s;
    }
    .AccordionArticle-leave.AccordionArticle-leave-active {
      max-height: 0;
    }
  }

  .content {
    overflow: hidden;
  }
}
